.dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 200px;
  //width: 100%;
  //flex: 0 0 auto;
  padding: 16px 24px;
  box-shadow: 0px 4px 15px 0px hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  background: var(--clr-elements);

  &.dropdown-show {

    .dropdown-menu {
      display: block;
    }
  }

  .dropdown-btn {
    position: relative;
    display: flex;
    width: 100%;
    //flex: 1 0 auto;
    padding-right: 40px;

    .dropdown-text {
      font-size: var(--fs-300);
      font-weight: var(--fw-300);
      line-height: 16px;
      color: var(--clr-text);

    }

    i {
      position: absolute;
      right: -8%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 16px;
      color: var(--clr-text);
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 120%;
    width: 100%;
    padding: 16px 0;
    box-shadow: 0px 4px 15px 0px hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    background: var(--clr-elements);

    .dropdown-item {
      padding: 0 24px;
      font-size: var(--fs-300);
      line-height: 24px;
      color: var(--clr-text);
    }
  }
}