.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  box-shadow: 0 4px 15px 0 hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  background: var(--clr-elements);

  i {
    margin-right: 24px;
    font-size: 24px;
    color: var(--clr-input);
  }

  .search-input {
    display: flex;
    flex: 1 0 auto;
    border: none;
    outline: none;
    //font-family: var(--ff-primary);
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
    line-height: 16px;
    color: var(--clr-input);
    background: var(--clr-elements);

    &::placeholder {
      color: var(--clr-input);
    }
  }
}