.tag {
  display: inline-flex;
  padding: 8px 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background: var(--clr-elements);
  color: var(--clr-text);
  text-decoration: none;
  box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.2);

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .tag {
    margin-bottom: 0;
  }
}