@import "./reset";
@import "./root";
@import "./common";
@import "../icon-fonts/style.css";
@import "./components/card";
@import "./components/dropdown";
@import "./components/search-form";
@import "./components/header";

.panel {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 16px;

  & > * {
    margin-top: 16px;
  }
}

.country-list {
  display: flex;
  flex-direction: column;

  &-item {
    margin-bottom: 32px;
  }
}

@media (min-width: 576px) {
  .panel {
    .search-form {
      width: auto;
      min-width: calc(100% / 3);
    }

    .dropdown {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .country-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(6%);

    &-item {
      width: 47%;
    }
  }
}

@media (min-width: 1440px) {
  .country-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(9% / 3);

    &-item {
      width: calc(91% / 4);
    }
  }
}